* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0c356a;
}

.nav {
  background-color: #0174be;
}

.card {
  background-color: #fff0ce;
}

.head {
  background-color: #ffc436;
}

.nav-link a {
  color: #fff;
  padding: 5px 0px 5px 48px;
  text-decoration: none;
}

.home-container {
  background-image: url('../assets/bg.jpg'); /* Ganti URL dengan gambar latar belakang yang diinginkan */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
}

.home-content {
  max-width: 600px;
  padding: 20px;
  background-color: white; /* Transparansi untuk konten */
  border-radius: 10px;
}

.home-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.home-content p {
  font-size: 1.5rem;
  line-height: 1.6;
}
